@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import "tailwindcss";

@theme {
  --color-dark: #1a1a2e;
  --color-accent: #6c63ff;
  --color-accent-hover: #5449e8;
}

@layer base {
  body {
    @apply bg-dark text-white font-sans antialiased;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #1a1a2e;
  }
  ::-webkit-scrollbar-thumb {
    background: #6c63ff;
    border-radius: 8px;
  }
}